a, p{
    font-family: 'Philosopher', sans-serif;
}

hr{
    border-top-color: blueviolet !important;
    width: 5%;
}

.imagem_navbar{
    width: 60px;
}

.slogan{
    color: white;
    position: absolute;
    left: 8%;
    top: 32%;
}

.inicio{
    margin-top: 30px;
    height: 400px;
}

.inicio_boasvindas {
    color: blueviolet;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    left: 34%;
    top: 220px;
}

.inicio_descricao{
    display: inline-block;
    width: 20%;
    position: relative;
    text-align: center;
    left: 15%;
    top: 150px;
}

.profile_picture{
    width: 200px;
    position: relative;
    left: 55%;
    top: 100px;
}

.menu{
    color: white !important;
}

.menu:hover{
    color: #D2B4DE !important;
}

.box-habilidades{
    border: solid 0.2px gray;
    border-radius: 5%;
    box-shadow:  5px 10px 8px #888888;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 70px;
    margin-top: 50px;
    padding: 60px;
    position: relative;
    width: 70%;
    left: 20%;
}

.devicon-html5-plain-wordmark{
    color: #866ec7;
    font-size: 70px;
    position: relative;
}

.navbar-light .navbar-toggler {
    border: none;
}


@media only screen and (max-width: 600px) {
    .inicio_boasvindas {
        text-align: center;
        display: block;
        position: relative;
        top: 0%;
        left: 0%;
    }

    .inicio_descricao {
        position: relative;
        text-align: center;
        top: 0%;
        left: 0%;
        width: 70%;
        left: 15%;
        margin-top: 30px;
    }

    .profile_picture {
        width: 200px;
        position: relative;
        left: 25%;
        top: 0%;
    }
    hr{
        width: 15%;
    }
    
}

@media only screen and (max-width: 992px){
    .slogan {
        left: 2%;
        position: relative;
        margin-top: 13px;
    }
}

/* ipad */
@media only screen and (max-width: 992px) and (min-width: 601px){
  .inicio_boasvindas {
        color: blueviolet;
        display: inline-block;
        font-size: 2rem;
        position: relative;
        left: 25%;
        top: 40px;
    }
    .profile_picture {
        width: 200px;
        position: relative;
        left: 35%;
        top: 120px;
    }

    .inicio_descricao {
        display: block;
        width: 30%;
        left: 20%;
        top: 0px;
    }
}

/* ipad pro */
@media only screen and (max-width: 1024px) and (min-width: 992px){
    .profile_picture {
        top: 140px;
    }

    .inicio_descricao {
        left: 11%;
        top: 190px;
    }
}

/* surface fold */
@media only screen and (max-width: 300px) {
    .slogan{
        display: none;
    }

    .profile_picture{
        left: 15%;
    }

    .inicio{
        height: 430px;
    }
}

/* iphone 5 */
@media only screen and (max-width: 320px) and (min-width: 301px){
    .profile_picture {
        left: 19%;
    }
}

/* surface duo */
@media only screen and (max-width: 540px) and (min-width: 539px){
    .profile_picture {
        left: 32%;
    }
}
